[submodule "Param"]
	path = Param
	url = https://github.com/BiSharper/RvSharper.Param
[submodule "Bank"]
	path = Bank
	url = https://github.com/BiSharper/RvSharper.Bank
[submodule "VFS"]
	path = VFS
	url = https://github.com/BiSharper/RvSharper.FileSystem
[submodule "Shape"]
	path = Shape
	url = https://github.com/BiSharper/RvSharper.Shape
[submodule "Texture"]
	path = Texture
	url = https://github.com/BiSharper/RvSharper.Texture
[submodule "StatusQuo"]
	path = StatusQuo
	url = https://github.com/BiSharper/SqSharper
[submodule "Sound"]
	path = Sound
	url = https://github.com/BiSharper/RvSharper.Sound
[submodule "Material"]
	path = Material
	url = https://github.com/BiSharper/RvSharper.Material
